* {
  margin: 0;
  padding: 0;
}
.nvd-age-checker .modal-overlay {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #37415183;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  place-items: center;
}
.nvd-age-checker .modal-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.4);
  max-width: 48rem;
}
.nvd-age-checker .modal {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
.nvd-age-checker .modal-img-container {
  display: flex;
  margin-bottom: 2rem;
  color: #34d399;
  justify-content: center;
  width: 100%;
}
.nvd-age-checker .modal-img-container img {
  object-fit: contain;
  max-width: 70px;
}
.nvd-age-checker .modal .modal-title {
  margin-bottom: 0.5rem;
  color: #1f2937;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.25;
  text-align: center;
}
.nvd-age-checker .modal-subtitle {
  margin-bottom: 1.25rem;
  color: #4b5563;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  text-align: center;
}
.nvd-age-checker .modal-btn-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.nvd-age-checker .modal-btn-container button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 0.25rem;
  border: none;
  box-shadow: none;
}
.nvd-age-checker .modal-btn-container .nvd-btn-green {
  background-color: #047857;
  cursor: pointer;
}
.nvd-age-checker .modal-btn-container .nvd-btn-green:hover {
  background-color: #065f46;
  cursor: pointer;
}
.nvd-age-checker .modal-btn-container .nvd-btn-red {
  background-color: #DC2626;
  cursor: pointer;
}
.nvd-age-checker .modal-btn-container .nvd-btn-red:hover {
  background-color: #B91C1C;
  cursor: pointer;
}
.nvd-age-checker .modal-cross {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1.25rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #9ca3af;
}
.nvd-age-checker .modal-cross:hover {
  color: #4b5563;
  cursor: pointer;
}

@media (min-width: 640px) {
  .nvd-age-checker .modal-btn-container button {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
@media (min-width: 768px) {
  .nvd-age-checker .modal-container {
    width: 50%;
  }
  .nvd-age-checker .modal-body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
